<p id="notice"><%= notice %></p>

<h1>Joboffers</h1>

<table>
  <thead>
    <tr>
      <th>Job title</th>
      <th>Salary</th>
      <th>Minimum japaneseskill</th>
      <th>Job description</th>
      <th>Shift</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joboffers.each do |joboffer| %>
      <tr>
        <td><%= joboffer.job_title %></td>
        <td><%= joboffer.salary %></td>
        <td><%= joboffer.minimum_japaneseskill %></td>
        <td><%= joboffer.job_description %></td>
        <td><%= joboffer.shift %></td>
        <td><%= joboffer.place %></td>
        <td><%= link_to 'Show', joboffer %></td>
        <td><%= link_to 'Edit', edit_joboffer_path(joboffer) %></td>
        <td><%= link_to 'Destroy', joboffer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joboffer', new_joboffer_path %>
