<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @joboffer.job_title %>
  </h1>


    <%= image_tag @joboffer.image.variant(resize:'400x400').processed  %>



  <p class="lead">
    <strong>Salary:</strong>
    <%= @joboffer.salary %>
  </p>

  <p class="lead">
    <strong>Minimum japaneseskill:</strong>
    <%= @joboffer.minimum_japaneseskill %>
  </p>

  <p class="lead">
    <strong>Job description:</strong>
    <%= @joboffer.job_description %>
  </p>

  <p class="lead">
    <strong>Shift:</strong>
    <%= @joboffer.shift %>
  </p>

  <p class="lead">
    <strong>Place:</strong>
    <%= @joboffer.place %>
  </p>
</div>



<%= link_to 'Edit', edit_joboffer_path(@joboffer),class:"btn btn-secondary" %> |
<%= link_to 'Back', joboffers_path,class:'btn btn-secondary' %>
